<md-toolbar color="primary">
  <img class="masterIcon" src="assets/images/MastersShield_icon.png">{{title}}
</md-toolbar>
<nav>
  <a md-raised-button color="accent" routerLink='/dashboard' routerLinkActive='active'>Dashboard</a>
  <button md-raised-button color="accent" [mdMenuTriggerFor]="adminMenu">Admin</button>
  <md-menu #adminMenu="mdMenu">
    <button md-menu-item routerLink='/seasons' routerLinkActive='active'>Seasons</button>
    <button md-menu-item routerLink='/locations' routerLinkActive='active'>Locations</button>
    <button md-menu-item routerLink='/racers' routerLinkActive='active'>Racers</button>
  </md-menu>
</nav>
<router-outlet></router-outlet>
<hr/>
