<div layout="row" layout-fill>
    <md-sidenav flex layout-padding class="md-sidenav-left md-whiteframe-z2" md-component_id="listSeasonLeft" md-disable-backdrop md-is-locked-open="true">
        <md-content layout="column">
            <md-toolbar class="md-warn" layout-align="center start" layout="row">
                <p>{{sList.title}}</p>
                <md-button class="md-primary" ng-click="sList.loadData()">Refresh</md-button>
                <md-button class="md-primary" ng-click="sList.triggerCreateSeason($event)">Add</md-button>
            </md-toolbar>
            <md-button class="md-raised" ng-repeat="season in sList.seasons" ui-sref="seasons.detail(season.id)">{{season.startYear}}-{{season.endYear}} <span ng-if="season.isCurrentSeason"><strong>*</strong></span></md-button>
        </md-content>
    </md-sidenav>
    <ui-view flex on-activate="sList.activateSeason()"></ui-view>
</div>