<div layout="column">
    <md-toolbar flex="5" class="md-warn" layout-padding>
        {{mreCtrl.modifyAction}} Race for {{mreCtrl.modifyItem.season.startYear}} - {{mreCtrl.modifyItem.season.endYear}} Season
    </md-toolbar>
    <div flex="90">
        <form layout="column" layout-padding layout-fill>
            <md-input-container class="md-block">
                <label>Name:</label>
                <input required id="rName" ng-model="mreCtrl.modifyItem.raceName" />
            </md-input-container>
            <md-input-container class="md-block">
                <label>Scheduled Time:</label>
                <input type="datetime-local" ng-model-options="{timezone:'GMT-0600'}" id="rTime" ng-model="mreCtrl.modifyItem.startTime" />
            </md-input-container>
            <md-input-container class="md-block">
                <label>Run Count:</label>
                <input type="number" id="rNumRuns" ng-model="mreCtrl.modifyItem.runCount" />
            </md-input-container>
            <md-input-container class="md-block">
                <label>Race Format:</label>
                <md-select id="rFormat" ng-model-options="{trackBy: '$value.id'}" ng-model="mreCtrl.modifyItem.raceFormat" placeholder="Select Race format">
                    <md-option ng-value="format" ng-repeat="format in mreCtrl.formatList track by format.id">{{format.code}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Locations:</label>
                <md-select id="rFormat" ng-model-options="{trackBy: '$value.id'}" ng-model="mreCtrl.modifyItem.location" placeholder="Select Race location">
                    <md-option ng-value="location" ng-repeat="location in mreCtrl.locationList track by location.id">{{location.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Notes:</label>
                <textarea rows="4" id="rNotes" ng-model="mreCtrl.modifyItem.notes"></textarea>
            </md-input-container>
            <div layout="row" layout-align="center end">
                <md-button class="md-raised md-primary" ng-click="mreCtrl.modifyTrigger($event)">{{mreCtrl.modifyAction}}</md-button>
                <md-button class="md-raised md-warn" ng-click="mreCtrl.onCancel()">Cancel</md-button>
            </div>
        </form>
    </div>
</div>