<div layout="row" layout-fill>
    <md-sidenav flex layout-padding class="md-sidenav-left md-whiteframe-z2" md-component_id="listRaceEventLeft" md-disable-backdrop md-is-locked-open="true">
        <md-content layout="column">
            <md-toolbar class="md-warn" layout-align="space-between center" layout="row">
                <md-button class="md-primary" ng-click="reList.loadActiveData()"><i class="material-icons">cached</i></md-button>
                <p>Race Events</p>
                <md-button class="md-primary" ui-sref="races.add()"><i class="material-icons">add</i></md-button>
            </md-toolbar>
            <race-event-list-item list-item="race" ng-repeat="race in reList.raceEvents" on-delete="reList.deleteRaceEvent(race)"></race-event-list-item>
        </md-content>
    </md-sidenav>
    <ui-view flex layout-fill on-modify="reList.handleModifyRace()" on-cancel="reList.showRaces()"></ui-view>
</div>