<md-card>
    <md-card-title>
        <md-card-title-text>
            {{reItem.listItem.season.startYear}}-{{reItem.listItem.season.endYear}}: {{reItem.listItem.raceName}}
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
        <md-button ng-click="reItem.onEditToggle(reItem.listItem)">Edit</md-button>
        <md-button ng-click="reItem.deleteToggle($event)">Delete</md-button>
    </md-card-actions>
    <md-card-content>
        Location: {{reItem.listItem.location.name}}<br />
        Start Time: {{reItem.listItem.scheduledStartTime | date:'medium'}}<br />
        Number of Runs: {{reItem.listItem.runCount}}<br />
        Race Format: {{reItem.listItem.raceFormat.code}} - {{reItem.listItem.raceFormat.name}}
    </md-card-content>
</md-card>