<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button data-toggle="collapse" data-target="#AddLocation" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="panel-body">
            <div class="panel-group">
                <location-list-item ng-repeat="loc in locList.locations" list-item="loc"></location-list-item>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9">
    <div id="AddLocation" class="collapse">
        This is some test text.
    </div>
</div>