<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left">{{lItem.listItem.name}}</div>
        <div class="text-right">
            <button class="btn btn-default" ng-click="lItem.editToggle()"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-default" ng-click="lItem.delete()"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
    </div>
    <div class="panel-body">
        Description: {{lItem.listItem.description}}
    </div>
</div>
