<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button class="btn btn-default btn-sm" ng-click="rList.loadData()"><span class="glyphicon glyphicon-refresh"></span></button>
            <button class="btn btn-default btn-sm" ng-click="rList.toggleAddPanel()"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="panel-body">
            <div class="panel-group">
                <racer-list-item ng-repeat="racer in rList.racers" list-item="racer" on-delete="rList.deleteRacer(racer)" on-edit-toggle="rList.toggleEditPanel(racer)"></racer-list-item>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9">
    <div id="AddRacer" class="horizontal-collapse" uib-collapse="rList.addRacerCollapsed">
       <modify-racer modify-action="Add" modify-item="rList.racerToAdd" on-modify="rList.addRacer(rList.racerToAdd)" on-cancel="rList.toggleAddPanel()"></modify-racer>
    </div>
    <div id="EditRacer" class="horizontal-collapse" uib-collapse="rList.editRacerCollapsed">
        <modify-racer modify-action="Edit" modify-item="rList.racerToEdit" on-modify="rList.updateRacer(rList.racerToEdit)" on-cancel="rList.toggleEditPanel()"></modify-racer>
    </div>
</div>