<md-whiteframe class="md-whiteframe-10dp" layout="row" layout-align="center center" layout-margin layout-padding>
    <md-input-container class="md-block">
        <label>Run {{rtCtrl.raceTime.runIdx}}</label>
        <input name="runTime" ng-model="rtCtrl.raceTime.runTime" ng-disabled="rtCtrl.raceTime.isDSQ || rtCtrl.raceTime.isDNF" />
    </md-input-container>
    <md-input-container layout="column" layout-align="space-around start">
        <md-checkbox ng-model="rtCtrl.raceTime.isDSQ" aria-label="DSQ">DSQ</md-checkbox>
        <md-checkbox ng-model="rtCtrl.raceTime.isDNF" aria-label="DNF">DNF</md-checkbox>
    </md-input-container>
</md-whiteframe>