<div flex>
    <md-toolbar layout="row" flex>
        <form layout="row">
            <md-input-container class="md-block">
                <label>Race Status:</label>
                <md-select id="rRacePhase" ng-change="rrCtrl.phaseChange()" ng-model-options="{trackBy: '$value.id'}" ng-model="rrCtrl.selectedPhase" placeholder="Select a race status">
                    <md-option ng-value="phase" ng-repeat="phase in rrCtrl.racePhases">{{phase.phase}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <md-select id="rRace" ng-disabled="!rrCtrl.selectedPhase" ng-model="rrCtrl.selectedRace" ng-model-options="{trackBy: '$value.id'}" placeholder="Select a race">
                    <md-option ng-value="race" ng-repeat="race in rrCtrl.seasonRaces | filter: rrCtrl.selectedPhase.id">{{race.raceName}}</md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-warn md-raised" ng-disabled="!rrCtrl.selectedRace" ng-click="rrCtrl.navigateToDetail()">Select</md-button>
        </form>
        <p>For {{rrCtrl.activeSeason.startYear}}-{{rrCtrl.activeSeason.endYear}} season</p>
    </md-toolbar>
    <ui-view flex></ui-view>
</div>