<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title - Masters Racers</title>
    <link href="/Content/dist/css/app.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/Scripts/build/jquery-bundle.min.js"></script>
    <script src="/Scripts/build/angular-bundle.min.js"></script>
    <script src="/Scripts/build/app-bundle.js"></script>
</head>
<body ng-app="racerApp" layout="column" layout-fill ng-cloak>
    <md-toolbar flex="5" class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Master's Racers</h2>
        </div>
    </md-toolbar>
    <div flex="90">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Masters Racers</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
