<md-card>
    <md-card-title>
        <md-card-title-text>
            {{rItem.listItem.name}}
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
        <md-button ui-sref="racers.detail({id: rItem.listItem.id})"><md-icon class="material-icons md-48">description</md-icon></md-button>
        <md-button ui-sref="racers.edit({id: rItem.listItem.id})"><md-icon class="material-icons md-48">create</md-icon></md-button>
        <md-button ng-click="rItem.deleteToggle($event)"><md-icon class="material-icons md-48">delete</md-icon></md-button>
    </md-card-actions>
    <md-card-content>
       <p>Bib Number: {{rItem.listItem.bibNumber}}<br />
          Race Series: {{rItem.listItem.raceSeries.gender}} {{rItem.listItem.raceSeries.name}}<br />
          <md-checkbox ng-model="rItem.listItem.active" ng-disabled="true">
              Active
          </md-checkbox>
        </p>
    </md-card-content>
</md-card>