<div layout="row" layout-fill>
    <md-sidenav flex layout-padding class="md-sidenav-left md-whiteframe-z2" md-component_id="listRacerLeft" md-disable-backdrop md-is-locked-open="true">
        <md-content layout="column">
            <md-toolbar class="md-warn" layout-align="space-between center" layout="row">
                <md-button class="md-primary" ng-click="rList.loadData()"><i class="material-icons">cached</i></md-button>
                <p>Racers</p>
                <md-button class="md-primary" ui-sref="racers.add()"><i class="material-icons">add</i></md-button>
            </md-toolbar>
            <racer-list-item list-item="racer" ng-repeat="racer in rList.racers" on-delete="rList.deleteRacer(racer)"></racer-list-item>
        </md-content>
    </md-sidenav>
    <ui-view flex layout-fill on-modify="rList.handleModifyRacer()" on-cancel="rList.showRacers()"></ui-view>
</div>