<div layout="column" layout-fill id="tabContainer" ng-cloak>
    <md-toolbar layout="row" md-primary flex="5">
        <md-button ui-sref="races">Races</md-button>
        <md-button ui-sref="racers">Racers</md-button>
        <md-button ui-sref="locations">Locations</md-button>
        <md-button ui-sref="seasons">Seasons</md-button>
    </md-toolbar>
    <div ui-view flex="90"></div>
</div>