<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#racersPanel">Racers</a></li>
    <li><a data-toggle="tab" href="#races">Races</a></li>
    <li><a data-toggle="tab" href="#locationsPanel">Locations</a></li>
    <li><a data-toggle="tab" href="#seasonsPanel">Seasons</a></li>
</ul>

<div class="tab-content">
    <div id="racersPanel" class="tab-pane fade in active">
        <racers-list></racers-list>
    </div>
    <div id="races" class="tab-pane fade">
        <p>Test Race text.</p>
    </div>
    <div id="locationsPanel" class="tab-pane fade">
        <div class="row">
            <location-list></location-list>
        </div>    
    </div>
    <div id="seasonsPanel" class="tab-pane fade">
        <season-list></season-list>
    </div>
</div>


