<div layout="column" layout-fill id="tabContainer" ng-cloak>
    <md-toolbar layout="row" md-primary flex="5">
        <md-button ui-sref="races.list()">Races</md-button>
        <md-button ui-sref="racers.list()">Racers</md-button>
        <md-button ui-sref="locations.list()">Locations</md-button>
        <md-button ui-sref="seasons.list()">Seasons</md-button>
    </md-toolbar>
    <div ui-view flex="95"></div>
</div>