<div layout="row" layout-fill>
    <md-sidenav flex="20" layout-padding class="md-sidenav-left md-whiteframe-z2" md-component_id="listLocationLeft" md-disable-backdrop md-is-locked-open="true">
        <md-content layout="column">
            <md-toolbar class="md-warn" layout-align="center start" layout="row">
                <p>Locations</p>
                <md-button class="md-primary" ng-click="locList.dataLoad()">Refresh</md-button>
                <md-button class="md-primary" ui-sref="locations.add()">Add</md-button>
            </md-toolbar>
            <location-list-item list-item="loc" ng-repeat="loc in locList.locations" on-delete="locList.deleteLocation(loc)"></location-list-item>
        </md-content>
    </md-sidenav>
    <ui-view flex="80" layout-fill on-modify="locList.handleModifyLocation(loc)" on-cancel="locList.showLocations()"></ui-view>
</div>